body {
  font-family: Courier New, Courier, monospace;
  color: #ffffff;
  background-color: #000000;
  font-size: 17px;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

time {
  font-size: 18px;
  font-style: italic;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

header {
  font-size: 19px;
}

footer {
  font-size: 11px;
}
