<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <title>The Intra Clinic - {{ page.title }}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body bgcolor="#000000" background="/images/bcg.gif" text="#FFFFFF" link="#5A5D63" alink="#5A5D63" vlink="#5A5D63">

    <table width="100%" height="80%">
        <tr>
            <td width="700">
                <center>
                    <table>
                        <font face="courier" size="6">
                            <b>The Intra Clinic</b>
                        </font><br><br>
                        <font face="courier" size="4">
                            [ <a href="/site-test/">Home</a> | <a href="/site-test/games">Games</a> | <a href="/site-test/about/">About</a> | <a
                                href="/site-test/news/">News</a> ] <!-- TODO: CHANGE THIS BEFORE FULL RELEASE -->
                        </font><br>
                </center>
            </td>
        </tr>
        <tr>
            <td width="700">
                <!-- TODO: ARTICLE TYPES  -->
                <hr>
                {{ content }}
                <hr>
            </td>
        </tr>

    </table>
    <font face="courier" size="2">
        <a href="./copyright">Copyright 2022</a> The Intra Clinic. Design by <a href="https://dejvoss.cz">DEJVOSS
            Productions</a>.<br>Rights to the games hosted go to the original creators.
    </font>
    </td>
    </tr>
    </table>
</body>

</html>