<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <title>The Intra Clinic - {{ page.title }}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="description" content="Welcome to The Intra Clinic. Come on in and stay a while." />
    <meta name="keywords" content="the, intra, clinic, website, home" />
</head>

<body bgcolor="#000000" text="#FFFFFF" link="#5A5D63" alink="#5A5D63" vlink="#5A5D63">

    <table width="100%" height="80%">
        <tr>
            <td width="700">
                <center>
                    <table>
                        <font face="courier" size="6">
                            <b>The Intra Clinic</b>
                        </font><br><br>
                        <font face="courier" size="4">
                            [ <a href="/">Home</a> | <a href="/archive">Archive</a> | <a href="/team">Team</a> | <a
                                href="/news">News</a> ]
                        </font><br><br><br>
                </center>
            </td>
        </tr>
        <tr>
            <td width="700">

                
                <hr>
                <font face="courier" size="5">
                    <b>{{ page.title }}</b><br>
                </font>
                <font face="courier" size="4">
                    {{ content }}
                </font>
                <hr>
            </td>
        </tr>

    </table><br>
    <font face="courier" size="1">Everything here is (c) copyright <a href="http://twitter.com/notch">Markus Persson</a>
        and <a href="/copyright">other
            parties</a>.
    </font>
    </td>
    </tr>
    </table>
</body>

</html>