<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>Welcome to the Space Catalogue! | SpaceCatalogue 1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="shortcut icon" href="/files/favicon.ico" />

</head>

<body>

    <center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="10" class="content" valign="top">
                    <center>
                        <br>
                        <a class="left" href="/" target="_top"><b>HOME</b></a><br>
                        <br>
                        <b>Website</b><br>
                        <a class="left" target="_top" href="/news/">News</a><br>
                        <a class="left" target="_top" href="/changelog/">Changelog<br></a>
                        <br>
                        <b>Solar System</b><br>
                        <a class="left" target="_top" href="/solar/">Home</a><br>
                        <a class="left" target="_top" href="/solar/sun/">The Sun</a><br>
                        <a class="left" target="_top" href="/solar/planet/">Planets</a><br>
                        <a class="left" target="_top" href="/solar/asteroid/">Asteroids</a><br>
                        <a class="left" target="_top" href="/solar/comet/">Comets</a><br>
                    </center>
                </td>
                <td width="400" valign="top">
                    <table width="90%" bgcolor="#4e4e4e" border="1" cellpadding="7" cellspacing="0">
                        <tr>
                            <td>
                                <center>
                                    <img src="logo.png">
                                </center>
                                <h1>Welcome to the Space Catalogue!</h1>
                                <hr>

                                <h2>What is Space Catalogue?</h2>
                                <p>This site is an attempt at cataloging space objects: planets, stars, nebulae,
                                    galaxies, asteroids, etc..<br>The website is still very work in progress.</p>
                                <hr>

                                <h2>Latest website news from the developers:</h2>

                                <h3>SpaceCatalogue is not dead! (yet)</h3>
                                <p>
                                    Posted by Admin on <em>17.04.2022</em><br>
                                    I have started working on an exoplanet catalogue system, more information will be
                                    shared soon.
                                </p>

                                <h3>Updating the design.</h3>
                                <p>
                                    Posted by Admin on <em>13.02.2022</em><br>
                                    New website design! It's retro themed because I really really like old websites.
                                </p>

                                <hr>
                                <p>
                                    <center>
                                        <a href="/copyright/">Copyright 2022</a> DEJVOSS Productions / Codex Ipsa.
                                        All Rights Reserved.
                                    </center>
                                </p>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>

</body>

</html>