<!-- 
  This page is brought to you by 
  ___________.__             .___        __                _________ .__  .__       .__        
  \__    ___/|  |__   ____   |   | _____/  |_____________  \_   ___ \|  | |__| ____ |__| ____  
    |    |   |  |  \_/ __ \  |   |/    \   __\_  __ \__  \ /    \  \/|  | |  |/    \|  |/ ___\ 
    |    |   |   Y  \  ___/  |   |   |  \  |  |  | \// __ \\     \___|  |_|  |   |  \  \  \___ 
    |____|   |___|  /\___  > |___|___|  /__|  |__|  (____  /\______  /____/__|___|  /__|\___  >
        \/     \/           \/                 \/        \/             \/        \/ 
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>

<HEAD>
  <TITLE>{{ page.title }} - The Intra Clinic</TITLE>
  <LINK REL="SHORTCUT ICON" HREF="/files/favicon.ico" />
</HEAD>

<BODY TEXT="WHITE" BGCOLOR="BLACK" BACKGROUND="/files/bcg.gif" LINK="#5A5D63" VLINK="#5A5D63" ALINK="#5A5D63">
  <TABLE ALIGN="CENTER" WIDTH="700">
    <TD WIDTH="700">

      <CENTER>
        <FONT FACE="COURIER" SIZE="6">
          <B>The Intra Clinic</B>
        </FONT>
        <BR><BR>
        <FONT FACE="COURIER" SIZE="4">
          [ <A HREF="/">Home</A> | <A HREF="/archive">Archive</A> | <A HREF="/team">Team</A> | <A HREF="/news">News</A>
          | <A HREF="/buttons">Buttons</A> ]
        </FONT>
      </CENTER>
      <HR>
      <FONT FACE="COURIER" SIZE="5">
        <B>{{ page.title }}</B>
        <BR>
      </FONT>
      <FONT FACE="COURIER" SIZE="4">
        {{ content }}
      </FONT>
      <HR>
      <CENTER>
        <FONT FACE="COURIER" SIZE="2">
          <A HREF="/copyright">Copyright 2022 - 2024</A> The Intra Clinic. Design by <A HREF="http://dejvoss.cz">DEJVOSS
            Productions</A>.<BR>
          Rights to the hosted games go to the original creators.
        </FONT>
      </CENTER>
    </TD>
  </TABLE>
</BODY>

</HTML>